.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4rem;
}

.title {
  font-size: 2.2rem;
  font-weight: 500;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.2rem;
}
