.editorButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: .5rem;
  background-color: transparent;
  color: var(--blue);
  cursor: pointer;

  &:hover, &:focus-visible {
    background-color: var(--light-grey);
  }

  &:active {
    background-color: var(--medium-light-grey);
  }
}
